html {
    scroll-behavior: smooth;
}

img {
    user-select: none !important;
    pointer-events: none !important;
}

.bottom_spacer {
    height: 4rem;
}

.grey {
    color: #f0f0f0 !important;
}

.text-black {
    color: black !important;
}

.bg_black {
    background-color: black !important;
}

.bg_grey {
    background: #f0f0f0 !important;
}

.grey_dark {
    color: #898989 !important;
}

.bg_grey_dark {
    background: #898989 !important;
}

.bg_white {
    background: white !important;
}

.trans {
    background: transparent !important;
}

.bg_primary {
    background: #346BC8 !important;
}

/* others */
.border_none {
    border: none !important;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bottom_spacer {
    height: 8rem;
}

/* color, theme */
.primary {
    color: #346BC8 !important;
}

.bg_primary {
    background: #346BC8 !important;
}

.bg_primary_50 {
    background: #346BC880 !important;
}

.secondary {
    color: #0c1a2a !important;
}

.bg_secondary {
    background: #0c1a2a !important;
}

.grey {
    color: #f0f0f0 !important;
}

.bg_grey {
    background: #f0f0f0 !important;
}

.grey_dark {
    color: #898989 !important;
}

.bg_grey_dark {
    background: #898989 !important;
}

.white {
    color: white !important;
}

.bg_white {
    background: white !important;
}

.outline-primary {
    border: 1px #346BC8 solid !important;
    color: #346BC8 !important;
}

.outline-secondary {
    border: 1px #0c1a2a solid !important;
    color: #0c1a2a !important;
}

.outline-primary:hover {
    border: 1px #346BC8 solid !important;
    background: #346BC8 !important;
    color: white !important;
}

.outline-secondary:hover {
    border: 1px #0c1a2a solid !important;
    background: #0c1a2a !important;
    color: white !important;
}

.trans {
    background: transparent !important;
}

/* others */
.border_none {
    border: none !important;
}

.form-control:focus,
.form-select:focus {
    border-color: #0c1a2a;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-control:focus,
.form-select:focus {
    border-color: #346BC8 !important;
}

.dashboard_sidebar {
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 15%;
    top: 0;
    left: 0;
    bottom: 0;
    /* z-index: 9999; */
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dashboard_sidebar::-webkit-scrollbar {
    display: none;
}

.dashboard_sidebar_header {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    text-align: center;
    background-color: #0c1a2a;
    color: white;
}

.dashboard_sidebar_item {
    width: 100%;
    padding: 1.3rem 1rem;
    text-decoration: none;
}

.dashboard_sidebar_item:hover {
    background-color: #346BC880;
    color: white;
}

.dashboard_content {
    height: 100vh;
    max-height: 100vh;
    padding-top: 1rem;
    overflow: auto;
    background-color: #fafafa;
}

@media (max-width: 992px) {
    .dashboard_sidebar_item {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .dashboard_sidebar_item {
        padding: 1rem 0.5rem;
    }
}

@media (max-width: 568px) {
    .dashboard_sidebar_item {
        padding: 1rem 0.2rem;
    }
}

.cus_btn,
.cus_btn:focus {
    background: #346BC8 !important;
    border: none !important;
    padding: 1rem 1.5rem !important;
}

.cus_btn:hover {
    background: #346BC8 !important;
    border: 1px #346BC8 solid !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}