.search_form {
    display: flex;
    width: 100%;
}

.input_search:focus {
    border-color: #0c1a2a;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0%) !important
}

.show_search_text {
    font-size: 18px;
}

@media only screen and (max-width: 868px)and (min-width: 768px) {
    .search_form {
        width: 80%;
    }

    .show_nav_text {
        display: none;
    }
}

@media (max-width: 768px) {
    .search_form {
        width: 100%;
    }

    .show_search_text {
        display: none;
    }
}

.btn_nav,
.btn_nav:hover {
    background: #346BC8;
    border: none;
}

.search_result {
    top: 150%;
    width: 100%;
    min-height: 200px;
    max-height: 500px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.search_result::-webkit-scrollbar {
    display: none;
}